.titulo-ayuda{
    text-align: center;
    padding: 30px;

}
.titulo-ayudarte{
    text-align: center;
    padding-bottom: 5px;

}
.titulo-preguntas{
    text-align: center;
    padding: 20px;

}
#label-tamaño{
    width: 500px;
    height: 20px;
    padding-left: 10px;
}
.preguntitas{
    line-height : 50px;
    display: flex;
}
.preguntas-link{
    text-decoration: none;
    color: black;
    background-color: rgb(228, 228, 228);
}
.form-isi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.articulo{
    border: 1px solid #000;
    border-radius: 20px;
    padding: 30px;
    width: 800px;
}
.pregunta-1, .pregunta-2, .pregunta-3, .pregunta-4, .pregunta-5{
    width: 100%;
    padding: 15px 20px;
    margin: 1.5px 0;
}
.pregunta-1:hover, .pregunta-2:hover, .pregunta-3:hover, .pregunta-4:hover, .pregunta-5:hover, .fa-sort-down:hover, .busqueda-container:hover{
    background-color: rgb(241, 241, 241);
}
.pregunta-container{
    display: flex;
    justify-content: space-between;
}
.fa-sort-down{
    background-color: rgb(228, 228, 228);
    width: 50px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 1px;
    padding-top: 15px;
}
.fa-search{
    border: 1px solid #000;
    padding: 3px;
    border-radius: 2px;
}
.busqueda-container{
    display: flex;
}