.titulo-contenedor{
    text-align: center;
    padding: 20px;
}
.contenido{
    background-color: rgb(235, 235, 235);
}
.parrafo-contenido{
    margin: -15px 5%;
    padding: 15px 0;
    margin-bottom: 10px;
}
.contenedor-empleados{
    display: flex;
    justify-content: space-evenly;;
}
.detalle-empleado{
    border: 1px solid #000;
    width: 200px;
    padding: 33px 15px 15px 15px;
    margin-top: -25px;
    border-radius: 25px;
}
.desc-empleados{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fa-user{
    font-size: 90px;
}
.texto-detalle{
    font-weight: normal;
    font-size: 17px;
}