.seccion-vacantes{
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.postulantes-container{
    border: 2px solid #000;
    overflow-y: scroll;
    margin: 12px;
    height: 515px;
}
.postulante-info{
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
}
.fa-image{
    font-size: 60px;
    margin: 10px 30px;
}
p{
    font-size: 18px;
}
.btn-contratar{
    width: 150px;
    height: 50px;
    right: 30px;
    background-color: #22577A;
    border: 2px solid #103955;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border-style: none;
}
.btn-contratar:hover{
    background-color: #306d96;
}
.separacion{
    width: 60%;
}
.solicitud-de-vacantes{
    background-color:rgb(219, 219, 219);
}